@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
:root {
  --color-blue: #003f4e;
  --color-light-green: #009b45;
  --color-dark-green: #014815;
  --color-primary-text: #012a4a;
  --color-secondary-text: #213c42;
  --color-white: #fff;
  --color-bg-1: #f7fafb;
  --color-bg-2: #f5faf7;

  --transition: all 300ms ease;

  --radius-1: 0.3rem;
  --radius-2: 0.6rem;
  --radius-3: 1rem;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #012a4a;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2.2rem;
}
.h2 {
  font-size: 1.4rem;
  font-weight: 600;
}
h3 {
  font-size: 1.1rem;
  line-height: 1.2;
}
h4 {
  font-size: 1rem;
}
h5 {
  line-height: 1.4;
}
body {
  font-family: "Open Sans", sans-serif;
}
section {
  padding: 2rem 0;
}
p {
  color: var(--color-secondary-text);
}
.custom-ul {
  list-style: none;
  padding-left: 0;
}
.custom-ul li {
  color: rgba(255, 255, 255, 0.856);
}
.header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.4rem;
}
.header h2 {
  color: var(--color-primary-text);
  margin-bottom: 0.8rem;
}
.header p {
  font-family: "Open Sans", sans-serif;
  color: var(--color-secondary-text);
  width: 70ch;
  line-height: 1.5;
}
a {
  text-decoration: none;
}
@media (max-width: 768px) {
  .header p {
    font-size: 0.9rem;
    width: 100%;
  }
  .header {
    margin-bottom: 1.8rem;
  }
}

.custom-button a {
  text-decoration: none;
  color: white;
}

/*------------------ Top Bar-------------------------*/

.topBar {
  background-color: var(--color-blue);
  color: var(--color-white);
  padding: 0.4rem 0;
}

/*------------------ Nav Bar-------------------------*/

.logo {
  width: 4rem;
}
.nav_item {
  gap: 1rem;
  font-weight: 500;
}
.mobile-toggle {
  padding-bottom: 2rem;
  height: auto;
}
.mobile-toggle .nav_item {
  gap: 0.2rem;
}

.custom-button {
  background-color: aquamarine;
  padding: 0.5rem 0.8rem;
  background-color: #009b45;
  border-radius: 0.2rem;
  font-size: 1rem;
  font-weight: 500;
  color: white;
}
.dropdown {
  font-family: "Open Sans", sans-serif;
}
.nav_service_link a {
  text-decoration: none;
  color: var(--color-primary-text);
}
/*------------------ Banner -------------------------*/
.banner img {
  height: 80vh;
  width: 100% !important;
  object-fit: cover !important;
}
.banner_caption {
  position: absolute;
  text-align: center;
  top: 30%;
  margin-inline: auto;
}
.banner_btn {
  background-color: #009b45;
  padding: 12px 24px;

  border-radius: var(--radius-1);
  color: white;
  margin-top: 1.4rem;
}
.banner_caption p {
  color: white;
}

@media (max-width: 475px) {
  .banner_caption {
    position: absolute;
    top: 20%;
  }
  .banner img {
    height: 70vh;
  }
}

/*------------------ Comperhensive Services -------------------------*/

.comperhensive_card {
  text-align: center;
  padding: 2rem 1rem;
  border-radius: var(--radius-2);
}
.comp_service-title h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  color: var(--color-primary-text);
  margin-bottom: 0.8rem;
  font-weight: 700;
}
.comp_service-para {
  font-size: 0.9rem;
  line-height: 1.3;
  color: var(--color-secondary-text);
  font-family: "Open Sans", sans-serif;
}
.comperhensive_card:hover {
  transition: var(--transition);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1),
    inset 0px -2px 0px 0px var(--color-light-green);
}
.comperhensive_icon {
  font-size: 3rem;
  margin-bottom: 1.2rem;
  color: var(--color-light-green);
}
@media (min-width: 768px) {
  .comperhensive_header p {
    width: 80ch;
    margin: 0.6rem auto 3rem;
  }
}

/*------------------ FAQ -------------------------*/

.faq_content {
  padding: 2rem 2rem;
  background: var(--color-bg-2);
}
.faq_accodian {
  margin-inline: 2rem;
}
.faq_accodian h3 {
  margin-bottom: 1.2rem;
}

@media (max-width: 768px) {
  .faq_accodian {
    margin-inline: 1rem;
  }
}

/*------------------ Service -------------------------*/

.service {
  background-color: var(--color-bg-1);
}
.service a {
  text-decoration: none;
  color: var(--color-light-green);
}

.service_card {
  padding: 0.8rem;
  border-radius: var(--radius-2);
}
.service_img {
  border-radius: var(--radius-2);
}
.service_btn {
  font-size: 0.9rem;
  font-weight: 600;
  background: none;
  color: var(--color-light-green);
}
.service2_icon {
  font-size: 3rem;
  margin-bottom: 1.2rem;
  color: var(--color-light-green);
}
.service2_card {
  position: relative;
  height: 360px;
}
.service2_card-body p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  line-height: 1.2;
  color: #012a4ae8;
}
.service2_card-body h5 {
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-primary-text);
}
.service2_card-body {
  position: absolute;
  top: 36%;
  background-image: url(./assets/service_bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--color-white);
  border-radius: var(--radius-2);
  margin: 0 0.6rem;
  padding: 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  text-align: center;
}
.service2_card-body:hover {
  background-color: var(--color-light-green);
  color: var(--color-white);
}
.service2_card-body:hover p {
  color: var(--color-white);
}
.service2_card-body:hover .comperhensive_icon {
  color: var(--color-white);
}
.service2_card-body:hover .service2_btn {
  color: #ffd500;
}
.service2_card-body:hover .service2_icon {
  color: #ffd500;
}
.service2_card-body:hover a {
  color: #ffd500;
}
.service2_card-body:hover h5 {
  color: white;
}
.service2_btn {
  background-color: transparent;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--color-light-green);
}

@media (max-width: 475px) {
  .service2_card-body {
    position: absolute;
    top: 50%;
  }
}
@media (max-width: 768px) {
  .service2_card-body {
    position: absolute;
    top: 50%;
    margin: 0 1rem;
  }
  .service2_card {
    position: relative;
    height: 400px;
  }
}

/*------------------ Assistance -------------------------*/

.assistance {
  padding: 5rem 0;
}
.assistence_icon {
  color: var(--color-light-green);
}
.assistence_img {
  overflow: hidden;
  height: 300px;
  border-radius: var(--radius-2);
}
.assistence_img img {
  height: 100%;
  object-fit: cover;
}
@media (max-width: 768px) {
  .assistence_img img {
    width: 100%;
  }
}

/*------------------ Testimonial -------------------------*/

.testimonial {
  padding: 6rem 0;
  background-image: linear-gradient(
      hsla(192, 100%, 15%, 0.801),
      hsla(192, 100%, 15%, 0.767)
    ),
    url("./assets/faq.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 3rem;
}

.testimonial_profile {
  width: 3rem;
  height: auto;
  margin-bottom: 1.6rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin-inline: auto;
}
.review {
  text-align: center;
}
.testimonial_review {
  text-align: center;
}
.testimonial_review p {
  width: 80ch;
  margin-inline: auto;
}

@media (max-width: 475px) {
  .testimonial_review p {
    width: 70%;
    margin-inline: auto;
  }
  .slick-next {
    right: 0px;
  }
  .slick-prev {
    left: 0px;
  }
}

@media (max-width: 768px) {
  .testimonial_review p {
    width: 80%;
    margin-inline: auto;
  }
}

/*------------------ Broucher -------------------------*/

.broucher_header {
  padding: 6rem;
}
.broucher_header h2 {
  color: var(--color-primary-text);
}

@media (max-width: 768px) {
  .broucher_header {
    padding: 1rem;
    margin: 1rem;
  }
}
@media (max-width: 1024px) {
  .broucher_header {
    padding: 2rem;
    margin: 2rem;
  }
}

/*------------------ Footer -------------------------*/

.ft_item {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.footer {
  padding: 4rem 0 1rem;
  background-image: linear-gradient(#002914f8, #002914f8),
    url("./assets/faq.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--color-white);
}
.footer p {
  color: var(--color-white);
}
.footer_contact {
  padding: 1rem;
}
@media (max-width: 768px) {
  .footer h5 {
    font-size: 16px;
  }
  .footer_contact {
    padding: 0.6rem;
  }
}
@media (max-width: 425px) {
  .ft_item {
    margin-bottom: 1.4rem;
  }
}

/*------------------ Services Page -------------------------*/

.ServicePage_list-list {
  list-style-type: none;
}
.servicepage_banner {
  display: flex;
  flex-direction: column;

  justify-content: center;
  height: 200px;
  background-color: #003f4e;
}
.servicepage_banner p {
  color: white;
}
.service_img {
  overflow: hidden;
  margin-bottom: 2rem;
}
.service_img img {
  width: 100%;
  border-radius: var(--radius-1);
}
.otherservices {
  padding: 1.5rem 2rem;
  background-color: var(--color-bg-1);
  height: fit-content;
}
.booking {
  padding: 1.5rem 2rem;
  background-color: var(--color-bg-1);
  height: fit-content;
}
.otherservices h3 {
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--color-light-green);
}
.otherservices ul {
  padding: 0;
}
.otherservices li {
  padding: 0.2rem;
}
.otherservices li a {
  text-decoration: none;
  color: var(--color-blue);
  font-weight: 500;
}

label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0.1rem;
}
input {
  height: 36px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: var(--radius-1);
  padding: 0.2rem;
}
.servicedrop {
  height: 36px;
  width: 100%;
}
.servicedrop {
  height: 2rem;
  width: 100%;
  border: none;
  outline: none;
  border-radius: var(--radius-1);
  padding: 0.2rem;
}
.formbtn {
  height: 2rem;
  width: 100%;
  background-color: #009b45;
  color: white;
}
@media (max-width: 425px) {
}

ul.breadcrumb {
  list-style: none;
}
ul.breadcrumb li {
  display: inline;
  font-size: 16px;
  color: #f5faf7;
}
ul.breadcrumb li + li:before {
  padding: 8px;
  color: white;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: rgba(255, 255, 255, 0.719);
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: white;
  text-decoration: underline;
}

.tabStyle {
  background-color: none;
}
.tabContent {
  padding: 1.6rem 0;
}
.tabStyle .nav-link.active {
  border-bottom: 2px solid #009b45;
  color: #009b45 !important;
}
.tabStyle .nav-link {
  border-bottom: 2px solid #009b45;
  color: #009b45 !important;
}

.service_page_features_list {
  list-style-type: none;
  padding: 0;
}
.service_page_features_list li {
  display: flex;
  align-items: start;
  padding: 0.4rem;
}
.service_feature {
  font-weight: 600;
  color: var(--color-primary-text);
}
.otherservices {
  height: fit-content;
  margin-bottom: 2rem;
}
/*------------------ AboutUs Page -------------------------*/

.about_img {
  overflow: hidden;
  height: 360px;
  border-radius: var(--radius-2);
}
.about_img img {
  height: 100%;
}
@media (max-width: 425px) {
  .about_img {
    height: 300px;
  }
}
.about_heading {
  color: var(--color-primary-text);
}
.about_sub {
  padding: 1rem;
  background-color: var(--color-bg-2);
}
.about_list {
  display: flex;
}
.about_icon {
  margin-right: 1rem;
}

/*------------------ Contact Page -------------------------*/

.contact_form {
  width: 40%;
  margin-inline: auto;
}
@media (max-width: 425px) {
  .contact_form {
    width: 80%;
    margin-inline: auto;
  }
  .about_img img {
    width: 100%;
  }
}
