.service-container {
  padding: 24px;
}
.service-metrics {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.service-table {
  margin-top: 20px;
}
.service-tableTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service-tableTop input {
  border: 1px solid rgb(218, 218, 218);
}
.service-tableInputContainer {
  display: flex;
  gap: 16px;
}
